{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your Email Address" %}{% endblock head_title %}

{% block content %}
<h1>{% trans "Verify Your Email Address" %}</h1>

<p>{% blocktrans %}We require that you verify ownership of your email address before accessing this part of the site.{% endblocktrans %}</p>

<p>{% blocktrans %}We have sent you an email for verification. If you do not see it in your main inbox, please check your spam folder or contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

{% url 'account_email' as email_url %}
<p>{% blocktrans %}You may also <a href="{{ email_url }}">change your email address</a>.{% endblocktrans %}</p>

{% endblock content %}
