/* Global Styles */

:root {
    --primary-font: 'Raleway', sans-serif;
    --primary-color: #fff9c4;
    --secondary-color: #f5f5dc;
    --tertiary-color: #c8e6c9;
    --accent-color: #b3e5fc;
    --highlight-color: #fbc02d;
    --text-color:#333333;
}

header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: var(--secondary-color);
    color: var(--text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    color: var(--text-color);
}

main {
    padding-bottom: 20px; /*ensures content visibility above footer*/
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    bottom: 0;
    position: fixed;
}

.footer-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px; /* space between items */
}

.footer-group a {
  font-size: 1em;
  text-decoration: none;
  color: inherit;
}

.footer-icon {
  height: 1em;
  width: auto;
  vertical-align: middle;
}

/* Navbar Styling */

#main-nav {
    margin-top: 120px; /* to offset fixed header */
}

.nav.nav-pills .nav-link {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-weight: bold;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav.nav-pills .nav-link.active {
    background-color: var(--tertiary-color);
    color: var(--text-color);
    font-weight: bolder;
}

.nav.nav-pills .nav-link:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
}

/* Class Specific Styling */

.card {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.card-img-top {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.modal-content {
    border-radius: 20px;
    background-color: var(--secondary-color);
    font-family: var(--primary-font);
    color: var(--text-color);
}

.modal-content .btn {
    background-color: var(--tertiary-color);
    color: var(--text-color);
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content .btn:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.pagination .page-link{
    margin: 20px;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 20px;
    color: var(--text-color);

}

.pagination .page-link:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.stretched-link {
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
}

.scale {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Button Styling */

.btn-signup {
    background-color: var(--tertiary-color);
    color: var(--text-color);
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.btn-signup:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.btn-normal {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.btn-danger {
    background-color: var(--highlight-color);
    color: var(--text-color);
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.btn-warning {
    background-color: var(--accent-color);
    color: var(--text-color);
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    margin-right: 5px;
}

/* ID Specific Styling */

#leaveComment {
    white-space: nowrap;
}

/* Media Queries for Responsive Design */

@media (min-width: 576px) {
    .card {
        margin: 10px;
    }
}

@media (min-width: 768px) {
    .card {
        margin: 20px;
    }
}

